<input type='file' [(ngModel)]="usserdata.profileImage" name="image" />
<button (click)="fileInput.click()">Select File</button>

<div class="container">

  <div class="card card-container">
    <h3 class="text-center">
      SIGN UP
    </h3>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn col-xs-6 btn-facebook pull-left">
          <i class="fab fa-facebook-f"></i>   signup with MSR</button>

        <button class="btn col-xs-6 btn-google pull-right g-signin2" data-onsuccess="onSignIn">
          <i class="fab fa-google"></i>  signup with Google</button>
      </div>
    </div>
    <form #regForm='ngForm' class="separator">
      <div class="form-group input-group col-xs-12">
        <div class="col-xs-6 padding-remove fname">
          <input type="text" [(ngModel)]="userdata.name" name="firstName" class="form-control border " placeholder="FIRST NAME"
            #firstName="ngModel" minlength="3" required>
          <div [hidden]="(name.dirty || name.untouched)" class="error-msg">Firstname is required </div>
          <div *ngIf=userdata.name [hidden]="name.valid || name.untouched" class="error">Please enter a valid name</div>

        </div>

        <div class="col-xs-6 padding-remove2 lname">
          <input type="text" [(ngModel)]="userdata.role" name="role" class="form-control border" placeholder="LAST NAME"
            #role="ngModel" minlength="3" required>
          <div [hidden]="(role.dirty || role.untouched )" class="error-msg">role is required
          </div>
        </div>


      </div>
      <div class="form-group input-group col-xs-12">
        <input type="email" [(ngModel)]="userdata.email" name="email" class="form-control border" placeholder="EMAIL"
          #email="ngModel" required>
      </div>
      <div [hidden]="email.dirty ||email.untouched" class="error">please fill this field</div>
      <div *ngIf=userdata.email [hidden]="email.untouched || email.valid " class="error">Please enter a valid email
      </div>

      <div ngModelGroup="password" #userPassword="ngModelGroup" minlength="8" required>
        <div class="form-group input-group col-xs-12">
          <div class="col-xs-6 padding-remove">
            <input type="password" [(ngModel)]="userdata.password" name="password" class="form-control border "
              placeholder="PASSWORD" minlength="8" required>
          </div>
          <div class="col-xs-6 padding-remove2">
            <input type="password" [(ngModel)]="userdata.confirmpassword" name="confirmpassword" class="form-control border"
              placeholder="CONFIRMPASSWORD" minlength="8" required>
          </div>
        </div>
        <div *ngIf="(userPassword.invalid|| userPassword.value?.password != userPassword.value?.confirmpassword) && (userPassword.touched)"
          class="error">
          <!-- {{userPassword.value?.pword+us erPassword.value?.conpwd}}   -->
          <div *ngIf="userPassword.invalid; else nomatch">
            Password must be more than 8 characters
          </div>
          <div>
            <ng-template #nomatch>
              Passwords don't match
            </ng-template>
          </div>
        </div>
      </div>
      <button (click)="signUp(userdata)" [disabled]="!regForm.form.valid" type="submit" class="btn btn-block btn-lg signupbtn separator">
        SIGN UP</button>
    </form>
    <div class="text-center separator">Have an account?
      <a routerLink="/login">Login</a>
    </div>
  </div>
</div>